.pet{
  margin: 10px;
  border: 6px solid #5f708c;
  padding: 20px;
  float: left;

}

.pet img{
  width: 300px;
  height: 300px;

}

.pet ul{
  font: 14px sans-serif;
  border: 2px solid #5f708c;
  margin: 1px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
}

body {
  background-color: #bad0f4;
  text-align: center;

}
